body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body, #root, .App, .UrlForm {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  width: 100%;
}

.App {
  flex-direction: row;
}

.side-nav {
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.side-nav a {
  padding-bottom: 6px;
  padding-top: 6px;
}

a:visited{
  color: blue;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.UrlForm {
  margin: 30px;
}

.current-state {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  height: 100px;
  margin-bottom: 30px;
  width: 250px;
}

.color-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}