body,
#root,
.UrlForm {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  font-family: sans-serif;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
}

.UrlForm {
  align-items: center;
  justify-content: center;
}

.current-state {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 26px;
  justify-content: center;
  height: 100px;
  margin-bottom: 30px;
  text-transform: capitalize;
  width: 250px;
}

.color-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 15px 25px;
}
